<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>spotifySearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>503A2DF61E0321AB00F1804C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503A2E0D1E0321AB00F1804C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503A2E181E0321AB00F1804C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
